<h1>質問一覧（Admin）</h1>
<%= link_to "新規登録（仮）", new_question_path, class: "btn btn-primary" %>

<div class="mb-3"></div>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th><%= Question.human_attribute_name(:title) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= @users.find(question.user_id).name %></td>
        <td>
          <%= link_to "削除", question_path(question), method: :delete, data: { confirm: "「#{question.title}を削除します。よろしいですか？」" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>